BODY,
H2,
H3,
H4,
H5,
H6,
TH,
TD {
    font-family: arial, helvetica, sans-serif;
}

H1 {
    font-size: 38px;
    font-family: arial, helvetica, sans-serif;
}

svg {
    background-color: rgb(41, 41, 36);
}

p.highlight {
    color: red;
}

.shortPlank {
    fill: rgb(221, 155, 67)
  }

.midPlank {
fill: rgb(221, 155, 67)
}

.longPlank {
fill: rgb(221, 155, 67)
}

.gameover {
font-family:sans-serif;
font-size: 80px;
fill:red;
}

.targetArea {
fill: lightgreen;
stroke: rgb(3, 62, 62);
stroke-width: 2px;
}

div#panel {
float:left;
margin: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(140, 231, 167);
width: 200px;
}

.crocodileBody {
    fill: rgb(37, 150, 2)
}

.crocodileHead {
    fill:rgb(7, 90, 50)
}

.key {
width:18px;
text-align:center;
border-radius:3px;
background-color:rgb(202, 192, 192);
}

div#instructionPanel {
    float:right;
    margin: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(55, 216, 187);
    width:400px;
}

.died {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
    fill:rgb(204, 17, 17);
}
